.App {
  font-family: sans-serif;
  text-align: center;
}
.bt:hover {
  background-color: rgb(86, 166, 241);
}
.input:hover {
  background-color: #ff7878;
}
body {
  background: rgb(229,91,236);
  background: linear-gradient(90deg, rgba(229,91,236,1) 0%, rgba(63,179,240,1) 100%);
  font-family: "poppins", sans-serif;
  padding: 24px;
}
.usercard {
  background: white;
  border-radius: 10px;
  padding: 5px;
  gap: 15px;

  display: flex;

  margin-bottom: 20px;
  transition: 0.2s all;
}

.usercard:hover {
  transform: scale(1.1);
  color: crimson;
}
.userpic {
  border-radius: 50%;
}
.username {
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
  font-family: "poppins", sans-serif;
}
